
.profile-container {
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.profile-container-lower{
  width: 100%;
  height: 45vh;
  border-radius: 10px;
  display:flex;
  justify-content: space-between;
  margin-top: 2rem;
  max-height: 400px;
}
.profile-left{
 border: none;
 background-color: var(--lightmodewhite);
 width: 60%;
 border-radius: 10px;
 margin-right: .75rem;
 padding: 1rem;
 margin-bottom: .75rem;
 max-height: 400px;
}
.profile-right{
  margin-bottom: .75rem;
  border:solid 2px var(--black);
  width: 40%;
  border-radius: 10px;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 400px;
  scrollbar-width: thin; 
  scrollbar-color: var(--lightmodedarkestgray) transparent; 
  background-color: var(--lightmodewhite);

  
  &::-webkit-scrollbar {
    width: 12px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color:var(--lightmodedarkestgray); 
    border-radius: 10px; 
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
}

.profile-header {
  font-size: 1.7rem;
  font-weight: 700;
}
.profile-skill-container {
  display:flex;
  flex-direction: row;
  margin-left:.5rem;
}

.profile-list{
  margin-bottom: 1.5rem;
}
@media (max-width: 500px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh; /* Corrected typo here */
    margin-bottom: 2rem;
  }

  .profile-container-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5rem;
    max-height: 800px;
  }

  .profile-left {
    width: 90%;
    margin-right: 0rem;
  }

  .profile-right {
    border: solid 2px var(--black);
    width: 90%;
    overflow-y: scroll;
    max-height: 400px;
    margin-bottom: 2rem;

    &::-webkit-scrollbar {
      width: 20px;
    }
  }
}