.result-card {
  height: auto;
  border: solid 2px red;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  display:flex;
  justify-content: space-between;
}

.result-card-title {
    margin-bottom: .5rem;
    font-size:1.3rem;
    font-weight: 600;
    margin-right: .5rem;
}
.result-card-skills {
    font-weight: 300;
    font-size:1.2rem;
}
.result-card-distance {
    color: darkblue;
    font-weight: 400;
}
.result-card-skills-container{
    display: flex;
    align-items: baseline;
}
