.meeting-card-requests {
  border: solid, 2px, black;
  height: 3rem;
}
.meeting-card-btn {
  height: 2rem;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 10px;
  margin-right: 1rem;
  background-color: var(--lightmodewhite);
  cursor: pointer;
  color: var(--lightmodedarkestgray);
  border: solid 2px var(--lightmodedarkergray);
}
.meeting-card {
  border: none;
  /* background-color: var(--lightmodelightgray3); */
  width: 33%;
  border-radius: 10px;
  padding: .5rem;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: .25rem;
}
.meeting-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.meeting-card-request {
  height: 18vh;
}
.meeting-card-btn-container {
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;

}
@media (max-width: 600px) {
  .meeting-card {
    width: 100%;
  }
}
/* 
.meeting-card-btn:hover {
  background-color: var(--lightmodelightgray3);
} */