.request-meeting-container{
    border: solid 2px black;
    background-color: var(--lightgray);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 8rem;
}
@media (max-width: 500px) {
    .request-meeting-container{
        width: 90%;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 8rem;
    }
}  