.search-page {
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  background-color: var(--white);
  overflow-x:hidden
}
.search-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.search-checkbox {
  transform: scale(1.75);
  margin: 0.25rem;
  margin-left: 1rem;
}
.search-page-label {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}
.search-filter1,
.search-filter2 {
  border: none;
}
.search-input {
  padding: 0.5rem;
  padding-left: 1rem;
  border: none;
  font-size: 1.3rem;
  height: 3rem;
  width: 100%;
}
.search-btn-symbol {
  transform: rotate(315deg);
  font-weight: 700;
  font-size: 1.5rem;
}
.search-submit-btn {
  height: 3rem;
  width: 3rem;
  background-color: var(--coolgray);
  border: none;
  color: white;
  cursor:pointer;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.search-menu {
  display: flex;
  align-items: center;
  background-color: var(--grayishorange);
  border-radius: 10px;
  width: 97.5%;
  height: 5rem;
  padding: 1rem;
}
.checkbox-grid {
  margin-left: 2rem;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr); 
}
