.meetings-container{
    border: solid 2px black;
    background-color: var(--grayishlavender);
    width: 95%;
    border-radius: 10px;
    margin-right: .75rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 1); */
    /* box-shadow: -4px 4px 6px rgba(0, 0, 0, 1); */
}
.meetings-container-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.meetings-title {
    margin-left: 1.5rem;
}