.meetings-container{
    border: solid 2px black;
    background-color: var(--lightgray);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}
.meetings-container-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.meetings-title {
    margin-left: 1.5rem;
}

  .meeting-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
