.loading-page {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
}
.loading-spinner-container {
  display: flex;
  align-items: baseline;
}
.spinner {
  height: 3rem;
}
.loading-title {
  font-weight: 400;
  font-size: 3rem;
  margin-left: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinner-spin infinite 8s linear;
  }
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
