.results-container {
    border-radius: 10px;
    width: 97.5%; 
    margin-top: 1rem;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr)); 
    gap: 1rem;
    justify-content: center;
}